<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <script th:src="@{/js/app.js}" defer></script>
    <title>Novus Playback</title>


</head>

<body style="font-family: sans-serif; padding: 16px;">
<h3>Playback MVP (browser)</h3>

<form id="f" style="display: grid; gap: 8px; max-width: 420px;">
    <label>
        Camera
        <input name="camera" type="number" required min="1" th:value="${form.camera}">
    </label>

    <label>
        Date
        <input name="date" type="date" required th:value="${form.date}">
    </label>

    <label>
        Time
        <input name="time" type="time" step="1" required th:value="${form.time}">
    </label>

    <label>
        Time Length (sec)
        <input name="timeLen" type="number" min="1" max="300" required th:value="${form.timeLen}">
    </label>

    <label>
        StreamType
        <input name="streamType" type="text" required th:value="${form.streamType}">
    </label>

    <!-- DOWNLOAD STATUS -->
    <div id="dlStatus" class="banner" style="display:none;">
        <span class="icon">⬇</span>
        <span id="dlText">Downloading</span>

        <span id="dlDots" class="dots" aria-hidden="true">
      <span>.</span><span>.</span><span>.</span>
    </span>
    </div>

    <button type="submit">Preview</button>
    <button type="button" id="downloadBtn">Download</button>
    <button type="button" id="snapshotBtn">Take snapshot</button>
    <button type="button" id="forward10SecBtn">+10sec</button>
    <button type="button" id="forward1MinBtn">+1min</button>
    <button type="button" id="forward5minBtn">+5min</button>
    <button type="button" id="backward10SedBtn">-10sec</button>
    <button type="button" id="backward1MinBtn">-1min</button>
    <button type="button" id="backward5MinBtn">-5min</button>

    <!-- SNAPSHOT STATUS -->
    <div id="snapStatus" class="banner" style="display:none;">
        <span class="icon">📸</span>
        <span id="snapText">Snapshot available</span>
    </div>

    <canvas id="snapCanvas" style="display:none;"></canvas>
</form>

<div style="margin-top: 16px;">
    <video id="v" controls style="width: 100%; max-width: 900px;"></video>
</div>

</body>
</html>
